h2.title.is-2
  | Label honnête
ul.pagination-list
  - @restaurant.labels.each do |label|
    - if label.name == "Honnête"
      li  
        = link_to "#{label.user.first_name} #{label.user.last_name}", user_path(label.user_id), class: "pagination-link"
    - else
      li  
       | Ce restaurant ne possède pas de label honnête 😢 

h2.title.is-2 
  | Label surcôté
ul.pagination-list
  - @restaurant.labels.each do |label|
    - if label.name == "Surcoté"
      li
        = link_to "#{label.user.first_name} #{label.user.last_name}", user_path(label.user_id), class: "pagination-link"
    - else
      li  
       | Ce restaurant ne possède pas de label surcoté 🏆