h2.title.is-2
  | Label honnête
ul
  - if @honest_labels.any?
    - @honest_labels.each do |label|
      li= link_to "#{label.user.first_name} #{label.user.last_name}", user_path(label.user_id), class: "pagination-link"
  - else 
    li.no-labels  
    | Ce restaurant ne possède pas de label honnête 😢 

h2.title.is-2.second-title 
  | Label surcôté

ul
  - if @overated_labels.any?
    - @overated_labels.each do |label|
      li= link_to "#{label.user.first_name} #{label.user.last_name}", user_path(label.user_id), class: "pagination-link"
  - else 
    li.no-labels  
       | Ce restaurant ne possède pas de label surcoté 🏆

scss: 
  .no-labels{
    margin-top: -5px;
  }

  .second-title{
    margin-top: 10px;
  }