= form_tag root_path, class: "search_bar", remote: true, method: :get do
  .field.has-addons.has-addons-centered
    .control.is-expanded.address 
      = text_field_tag 'search', params[:name], class:"input h-40", placeholder: "Rechercher un restaurant"
    .control.select.is-multiple.is-primary
      = select_tag "price", options_for_select(options_for_price, params[:price]&.split(' - ')), multiple: true, class: 'is-medium h-40'                     
    .control.select.is-multiple.is-primary
      = select_tag "cooking_style", options_from_collection_for_select(@tags, 'name', 'name', params[:cooking_style]&.split(' - ')), multiple: true, class: 'is-medium h-40'
    .control.select.is-multiple.is-primary
      = select_tag "user_id", options_from_collection_for_select(@users, 'id', 'first_name', params[:user_id]), :include_blank => 'Les labels honnête de', class: 'is-medium h-40'
    .control.select.is-multiple.is-primary
      = submit_tag "Rechercher", class: "button is-primary search h-40", 'data-disable-with' => "Un instant..."

javascript:

  $(document).ready(function() {
    $('.is-medium').select2();
  });

scss: 
  .field.has-addons.has-addons-centered>.control.select.is-multiple.is-primary{
    margin-left: 10px;
  }

  .h-40, .select2-container{
    height: 40px;
  }

  .select2-selection--multiple{
    height: 100%;
  }
  .select2-container--default .select2-selection--multiple li.select2-selection__choice {
    margin-top: 6px;
  }

  .select2-selection.select2-selection--single{
    height: 100%;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
  }

  .address{
    max-width: 600px;
  }

  .search_bar {
    position: absolute;
    top: 80px;
    z-index: 1;
    width: 40%;
    left: 30%;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
  }
  .mr-tp-20{
    margin-top: 20px;
  }
